
<h1>{{title}}</h1>
<div style="background-color:white">
<div >
<form action="/searchbystatus" Method="GET">
  <select  id="cars" name="status">
  <option value="Not Assigned">Not assigned</option>
  <option value="Assigned">assigned</option>
  
</select>
  <button type="submit" class="btn btn-primary">SeachAssignedBooks
  
  </button>
</form>
</div><br>



<div >
<form action="/searchbybookname" Method="GET" style="display:inline-flex;">
    <input type="search" id="form1" name="bookname" class="form-control" style="width:400px" placeholder="Seach your book By Bookname"/>
    
  <button type="submit" class="btn btn-primary">SeachYourBook
  
  </button>
</form>
</div>
</div>



<div id="mybooks"style="display:none">{{nbooks}}

</div>
 {{#if titl}}
 <div id="messagebody"style="margin-top:80px">
      <div class="alert alert-primary" id="message" role="alert">{{titl}} </div>
      </div>
{{/if}}





 <div class="card mb-4"style="margin-top:40px;">
  {{#each mybooks}}
    <div class="card-body"style="border:2px solid black">
        <div class="row">
            <div class="col-lg-6">
                <a href="images?img={{image}}&&bookname={{Bookname}}&&booktopic={{Booktopic}}&&author={{Bookauthor}}&&id={{_id}}">Read more &rarr;</a>
                    <img class="img-fluid rounded" src="{{image}}" alt="">
                </a>
            </div>
            <div class="col-lg-6">
                <h2 class="card-title">{{Bookname}}</h2>
                <p class="card-text">{{Booktopic}}</p>
                  <p class="user ml-2" id={{_id}}></p>
                  <p class="user ml-2">BY:{{Bookauthor}}</p>

                <a href="images?img={{image}}&&bookname={{Bookname}}&&booktopic={{Booktopic}}&&author={{Bookauthor}}&&id={{_id}}">Read more &rarr;</a>


            </div>
        </div>
    </div>

    {{/each}}
    <div class="card-footer text-muted">
       
           <center> <a href="#">Your Library</a></center>
       
    </div>
  </div>




  <script>


let books=JSON.parse(document.getElementById('mybooks').innerText)
   console.log(books)


books.forEach(function(element,index){
  let html=``;
  for(let i=0;i<=element.Bookrating-1;i++){
    html+=`<span class="fa fa-star checked"></span>`
   
  }
   console.log(html)
  document.getElementById(element._id).innerHTML=html
})







    
let hj=""
 if(document.getElementById("newmessage")){
   hj=document.getElementById("newmessage").innerText

 }
let html=``
if(hj!=null){
 setTimeout(() => {
   html=``
   
   document.getElementById("messagebody").innerHTML=html
   
   
   }, 6000);
  }

//style="background-color:rgb(214, 221, 231) ;width:1200px;margin-left:100px;margin-top:13px; border: 1px solid;"
  </script>
