
<h1>{{title}}</h1>
{{#if titl}}
 <div id="messagebody">
      <div class="alert alert-primary" id="message" role="alert">{{titl}} </div>
      </div>
{{/if}}
<div style="float:left ;">
<form action="/searchbystatus" Method="GET">
  <select  id="cars" name="status">
  <option value="Not Assigned">Not assigned</option>
  <option value="Assigned">assigned</option>
  
</select>
  <button type="submit" class="btn btn-primary">Seachbystatus
  
  </button>
</form>
</div>



<div style="float:right">
<form action="/searchbybookname" Method="GET" style="display:inline-flex;">
    <input type="search" id="form1" name="bookname" class="form-control" style="width:400px" placeholder="Seach your book"/>
    
  <button type="submit" class="btn btn-primary">SeachbyBookname
  
  </button>
</form>
</div>

<table class="new4" >
  <thead class="thead-dark">
    <tr>
              <h4 style="margin-top:60px;margin-left:100px">All the Books in Library</h4>
      <th scope="col"style="padding:10px; border: 1px solid;">sno</th>
      <th scope="col"style="padding:10px; border: 1px solid;">Bookname</th>
      <th scope="col"style="padding:10px; border: 1px solid;">Booktopic</th>
      <th scope="col"style="padding:10px; border: 1px solid;">category</th>
      <th scope="col"style="padding:10px; border: 1px solid;">Bookauthor</th>
      <th scope="col"style="padding:10px; border: 1px solid;">Bookrating</th>
      <th scope="col"style="padding:10px; border: 1px solid;">NumberofPages</th>
      <th scope="col"style="padding:10px; border: 1px solid;">status</th>
      <th scope="col"style="padding:10px; border: 1px solid;">Assignbook</th>
      <th scope="col"style="padding:10px; border: 1px solid;">Submitbook</th>
    </tr>
  </thead>
  <tbody>

    
{{#each mybooks}}
    <tr style="padding-top:10px">
      <th scope="row" style="padding:10px; border: 1px solid;">{{_id}}</th>
      <td style="padding:10px; border: 1px solid;">{{ Bookname }}</td>
      <td style="padding:10px; border: 1px solid;">{{ Booktopic }}</td>
      <td style="padding:10px; border: 1px solid;">{{ category }}</td>
      <td style="padding:10px; border: 1px solid;">{{ Bookauthor }}</td>
      <td style="padding:10px; border: 1px solid;">{{ Bookrating }}</td>
      <td style="padding:10px; border: 1px solid;">{{ NumberofPages }}</td>
      <td style="padding:10px; border: 1px solid;">{{ status }}</td>
      <td style="padding:10px; border: 1px solid;"> 
        
      <a href="assignnewbook/{{_id}}">
        <button class="GFG">
            AssignBook
        </button>
    </a></td>
      <td style="padding:10px; border: 1px solid;"> 
        
      <a href="returnnewbook/{{_id}}">
        <button class="GFG">
            SubmitBook
        </button>
    </a></td>
    </tr>
   {{/each}}
  </tbody>
</table>



  <script>


    
let hj=""
 if(document.getElementById("newmessage")){
   hj=document.getElementById("newmessage").innerText

 }
let html=``
if(hj!=null){
 setTimeout(() => {
   html=``
   
   document.getElementById("messagebody").innerHTML=html
   
   
   }, 6000);
  }

//style="background-color:rgb(214, 221, 231) ;width:1200px;margin-left:100px;margin-top:13px; border: 1px solid;"
  </script>
